## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## Visual Studio files
.vs/
*.nupkg
*.pfx
*.snk

## Docker
.docker/

## Environment files
.env
*.env

## Logs
logs/
*.log
